.allcollections_Collection_3IWn-:nth-child(2) .allcollections_CollectionImage_2ERAQ {
    display: none;
}

.allcollections_Collection_3IWn-:nth-child(2) {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1373/1373601.png");
    background-size: cover;
}
