.allcollections_Collection_3IWn-:nth-child(2) .allcollections_CollectionImage_2ERAQ {
    display: none;
}

.allcollections_Collection_3IWn-:nth-child(2) {
    background-image: url("https://cdn-icons-png.flaticon.com/512/394/394134.png");
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
}
